/* Estilos gerais */
.App {
  font-family: Arial, sans-serif;
  text-align: center;
}

/* Estilos para o cabeçalho */
h1 {
  color: #ffffff; /* Branco */
  background-color: #1c1c1c; /* Cinza escuro */
  padding: 10px;
  margin: 0; /* Remover margem padrão do h1 */
}

/* Estilos para os botões */
.buttons-container {
  display: flex;
  flex-wrap: wrap; /* Permitir que os botões quebrem para a próxima linha se não houver espaço suficiente */
  justify-content: center; /* Centralizar os botões horizontalmente */
  gap: 10px; /* Espaçamento entre os botões */
}

.buttons-container a {
  text-decoration: none;
}

button {
  color: #ffffff; /* Branco */
  background-color: #1c1c1c; /* Cinza escuro */
  padding: 10px 20px; /* Adicionar mais espaço interno aos botões */
  border: none;
  cursor: pointer;
}

/* Estilos para a tabela */
.tables-container {
  overflow-x: auto; /* Adicionar barra de rolagem horizontal se a tabela ultrapassar a largura da tela */
  padding: 0 10px; /* Adicionar um pouco de espaço interno à tabela */
}

table {
  border-collapse: collapse;
  width: 100%; /* Tornar a tabela ocupar 100% da largura do contêiner */
}

th, td {
  border: 1px solid #ccc; /* Cinza claro */
  padding: 8px;
  text-align: center;
}

th {
  background-color: #1c1c1c; /* Cinza escuro */
  color: #ffffff; /* Branco */
}

tr:nth-child(even) {
  background-color: #2d2d2d; /* Cinza um pouco mais claro */
}

tr:hover {
  background-color: #333333; /* Cinza médio */
}

.logo img {
  max-width: 50px;
  max-height: 50px;
  border-radius: 50%;
}

.MVP {
  font-weight: bold;
  color: #00ff00; /* Verde */
}
